[2018-02-28 05:56] anttih opened #1 "Implement MonadRec"
Do you have ideas on how to implement this? It seems to me that you cannot do this with the current formulation of the `Widget` datatype. I also tried using `Free` but wasn't able to yet write the `Alt` instance for that.

`Free` uses a [sequential datastructure](https://github.com/purescript/purescript-free/blob/v4.2.0/src/Control/Monad/Free.purs#L36) for the binds, maybe this approach could work

[2018-02-28 08:01] ajnsit commented on #1
Well the reason why I didn't spend much time on writing a MonadRec instance is that I'm not sure it is needed. Since this implementation is based on React, and uses an effectful setState to traverse the binds, it basically implements a trampoline for recursive computations. I am about 95% sure that this means that rendering a widget will never have problems.

Please let me know if you think that I

[2018-02-28 10:24] anttih commented on #1
But even the basic counter example (pun not intended):

[code]

will blow the stack, right? You'd want to call `tailRecM` there to do the trampolining. It would also be helpful to have `forever` available to loop at the top level.

Ps. I actually have POC implementation of halogen-vdom so it would be nice to not rely on react's implementation details.

[2018-02-28 18:28] ajnsit commented on #1
Actually no. That example should not blow the stack for the reasons I mentioned. Do notation basically desugars to binds, and the way bind for widgets is currently implemented, recursive calls do not increase the stack.

Also, while this implementation is react specific, I imagine it's possible to abstract it in a way to make this safe in other backends as well. I'll start thinking about how to do

[2018-02-28 19:00] anttih commented on #1
Interesting, indeed that does seem to be stack-safe.

I see your point about the react implementation being stack-safe. But how would you run a `StateT` widget forever? `StateT` itself is `MonadRec` but it relies on the underlying `m` to be one as well. I think you could do it but you would need to unwrap and loop the `StateT` in "userland" code. Basically if we had the `MonadRec` instance a lot o

[2018-02-28 19:13] ajnsit commented on #1
I see your point. As a short term solution, I will add a trivial MonadRec instance. How does this look? -

[code]

[2018-02-28 19:23] anttih commented on #1
Nice! It was that simple after all. So this should be stack-safe as long as the backend is stack-safe?

[2018-02-28 19:26] ajnsit commented on #1
Yup! It's a trivial instance that offloads all the work to the backend.

[2018-02-28 19:41] anttih commented on #1
Ship it!

[2018-02-28 19:57] ajnsit commented on #1
Done! Added a tail recursion example as well. [Source](https://github.com/ajnsit/purescript-concur/blob/master/src/Test/TailRec.purs), and [Demo](https://ajnsit.github.io/purescript-concur/).

[2018-02-28 19:59] #1 closed

[2018-03-05 05:58] anttih opened #2 "Effects with view"
It seems that you cannot currently do `widget <|> interval 10` where `widget` renders a view and waits for DOM events and `interval` is a side effect that blocks some amount of time and then returns a value. I see that in your haskell implementation a side effect is tagged with a view as well enabling this kind of behavior. I think this behavior is crucial for implementing something like your Mari

[2018-03-05 06:22] ajnsit commented on #2
Yeah, the current implementation doesn't really support asynchronous effects. I'll put in some quick changes to support them so that the interval example can work.

[2018-03-05 06:24] ajnsit opened #3 "Add an example that makes async ajax calls"
As requested in this reddit comment - https://www.reddit.com/r/purescript/comments/7yjzwv/concur_ui_library_for_purescript/dv0r7lb/

[2018-03-05 07:25] anttih commented on #2
Just to make sure I got my point across: even with `IO` I wasn't able to make this work. What happens is that `widget` there won't render anything because `WidgetEff` doesn't render any view.

[2018-03-05 08:01] ajnsit commented on #2
Right. What it currently implements is only blocking Effects, which block the entire UI. To do anything else, I would need to fork the effect, which didn't make sense until I implemented proper async effects.

[2018-03-07 11:19] ajnsit commented on #3
Implemented with https://github.com/ajnsit/purescript-concur/commit/7fb255abf44936a72bbdd21d36280ec63fe4011f

[2018-03-07 11:19] #3 closed

[2018-03-07 11:20] ajnsit commented on #2
I implemented this here - https://github.com/ajnsit/purescript-concur/commit/7fb255abf44936a72bbdd21d36280ec63fe4011f. There is one pending bug (I wasn't able to figure out how to fork computations with Aff), but it works otherwise.

[2018-03-07 18:33] anttih commented on #2
Nice!

You can fork with [forkAff](https://pursuit.purescript.org/packages/purescript-aff/4.0.2/docs/Control.Monad.Aff#v:forkAff).

[2018-03-07 18:40] anttih commented on #2
The `Free` datatype is not used there.

**Edit**: in your code I mean.

[2018-03-08 11:24] ajnsit commented on #2
I'm effectively using a simplistic Free monad, even though I didn't use the `Free` datatype from purescript-free, because we didn't need the sequential bind optimisation which was complicating the implementation.

Also, I discovered a bug in the implementation, thanks to the statefulness of react. When I have a couple of hours, I'll probably just throw out the current async implementation and impl

[2018-03-08 11:25] ajnsit commented on #2
Keeping this issue open until a correct async implementation is in place.

[2018-03-08 12:32] anttih commented on #2
I been working on making my halogen-vdom implementation async as well. Just got it somewhat working last night. I followed your approach you had in the haskell version. I may as well share it just to at least get some feedback.

<https://gist.github.com/anttih/411e992335dfc3517ba243c8e8667661>

I'm hoping we can share the core types at some point.

[2018-03-19 06:55] ajnsit commented on #2
Update: I have started working on this in this PR - https://github.com/ajnsit/purescript-concur/pull/4

[2018-03-22 23:54] ajnsit commented on #2
Okay, asynchronous effects seem to be working properly now. You can check the examples - https://ajnsit.github.io/purescript-concur/.

[2018-03-22 23:54] #2 closed

[2018-03-22 23:56] ajnsit commented on #2
BTW I will soon break out the common code (in https://github.com/ajnsit/purescript-concur/blob/master/src/Concur/Core.purs) into its own package (purescript-concur-core). Hopefully it should be fully reusable for the halogen-vdom implementation. Let me know if it isn't.

[2018-03-23 07:35] anttih commented on #2
This is great! I've been eyeing on your implementation and I think it should work with the vdom stuff. Hopefully I'll get to try this out in a few days.

[2018-05-27 11:49] jeremyjh opened #8 "Routing Advice"
I read https://github.com/ajnsit/concur/issues/5, but it doesn't really touch on one particular issue, so wanted to ask for advice on it. Its probably boils down to a more general question about how to maintain communication between a callback and the main loop, but these are the particulars:

I've implemented routing using the [PushState](https://pursuit.purescript.org/packages/purescript-routing

[2018-05-28 19:12] ajnsit commented on #8
Concur provides async support through the magical purescript-aff library. So all you really need to do is convert any listening functions into Aff actions. There will be some adapters required for handling Cancelers etc., but the good thing is that the listener will be automatically canceled when the widget ends.

I went ahead and wrote some code for purescript-routing, but I haven't tested it (ju

[2018-05-28 23:13] jeremyjh commented on #8
Thanks this is really helpful!  I did not notice `affAction`.

This did work, it needed a small modification for version 7.1.0 of purescript-routing which I'm pinned too at the moment by other dependencies.

One curious thing that gave me some trouble, is that if `awaitRoute` is the first thing we do in a Widget computation then there will be issues mounting widgets (react warning and nothing moun

[2018-05-29 03:42] ajnsit commented on #8
Glad to hear it! I'll add `asyncAction` to Concur.Core, and will add a routing example when I get the time.

[2018-05-29 03:42] #8 closed

[2018-05-29 03:45] ajnsit commented on #8
Added `asyncAction` to Concur.Core here - https://github.com/ajnsit/purescript-concur/commit/3d70fca25b05b74898d09ea36c647efdae40b485

[2018-06-01 08:54] ajnsit commented on #8
@jeremyjh I also fixed your issue with needing a delay before `awaitRoute`. See my commit - https://github.com/ajnsit/purescript-concur/commit/f82da5fa1bbe8aa52cc159d7946779ac5c221a9c. And also this response from purescript-aff folks- https://github.com/slamdata/purescript-aff/pull/57#issuecomment-393810406.

[2018-06-01 11:39] jeremyjh commented on #8
I've ended up using a little different approach. I'm not sure everyone wants this, but the behavior I'd like is that when a new route is pushed, the new widget tree is rendered even if the current one does not terminate itself.  `purescript-concur` actually makes this really elegant! I leave the matches callback running and putting each new result into an AVar. In my main loop I block on a takeVar

[2018-08-22 16:40] alexjg opened #9 "Surrounding HTML affected by click handler"
I couldn't think of a better name for this issue. Here is the offending code:

[code]

This results in the following HTML

[code]

Clicking on the title removes the surrounding UL  and LI elements, resulting in this:

[code]

Note how the `ul` and `li` elements surrounding the `<h1>changeme</h1>` have disappeared.

[2018-08-26 05:48] ajnsit commented on #9
Hey @alexjg, I have added a fix for this issue. I will need to restructure some code later, but for now the bug looks fixed. I have also added an example called "Editable Tree" to the README. You can check the [demo](https://ajnsit.github.io/purescript-concur/) and the [source](https://github.com/ajnsit/purescript-concur/blob/master/examples/Test/EditHeadings.purs).

[2018-09-15 11:19] ajnsit commented on #9
Closing this due to inactivity. @alexjg Please reopen if your issue isn't fully resolved.

[2019-01-06 12:41] jonathanlking opened #10 "Composing widgets (which begin with liftEffect)"
If I run `example 1 <> example 2` we get "example1" and "example2" logged to the console, however only the "example2" button is rendered to the DOM.

[code]

This is not what I expect - I think both buttons should still be rendered. Could you confirm what the correct behaviour should be?

Interestingly moving the logging to _after_ the button click results in both buttons being rendered. I've made

[2019-01-06 17:07] ajnsit commented on #10
Yeah the current behaviour is buggy. I'm on it.

[2019-01-06 19:25] ajnsit commented on #10
Okay @jonathanlking, I think this should be fixed now. It was happening because purescript-aff tries to be helpful and resolves aff actions synchronously whenever possible. I now detect that condition and handle it correctly.

Please let me know if it works for you now. Please feel free to reopen if it doesn't work as expected.

[2019-01-06 19:42] jonathanlking commented on #10
Hmm, so running the example from the [gist](https://gist.github.com/jonathanlking/49ed254928c64cf861225126202b6e42) I get both logging, but now neither rendering and a console error: `FAILED! TypeError: Cannot read property 'run' of undefined`

Did you get this example working? Also thanks for responding and working on a fix so quickly, I really appreciate it!

[2019-01-07 06:04] ajnsit commented on #10
Weird, I thought I tested it and it was working, but I may have had other code changes which got lost. Reopening this.

[2019-01-07 20:36] ajnsit commented on #10
@jonathanlking Can you test out the fix now? I think I now handle the synchronous cases correctly. I also tested the code from your snippet and it seems to work.

[2019-01-07 21:00] jonathanlking commented on #10
Yes, it looks good to me now too! Thank you so much for this incredible library and amazing support! 🎉

[2019-01-07 21:00] #10 closed

[2019-01-07 21:05] ajnsit commented on #10
Glad to hear it! Thanks for reporting the issue!

[2019-01-24 20:39] arthurxavierx opened #12 "liftEffect and liftAff should not change the view"
Currently, performing effects with `liftEffect`/`liftAff` do cause some flickering in the view, as `asyncAction`/`affAction`/`liftAff` all replace the current view. It should be possible to perform async effects in parallel with widgets that change the view, such as:
[code]

It's understandable that there are use cases for `affAction :: v → Aff a → Widget v a`, but it could be implemented as simpl

[2019-01-24 20:51] ajnsit commented on #12
Are you saying that something like `liftAff someExternalAPICall <|> renderLoader` still causes a UI flicker? Then that is certainly a bug.

Also, `affAction v aff` should be equivalent to `display v <|> liftAff aff`, since the view is displayed in parallel to the action.

[2019-01-24 20:58] arthurxavierx commented on #12
The routing technique described in https://github.com/ajnsit/purescript-concur/issues/8#issuecomment-393855209 causes some flickering.

[2019-01-24 22:21] arthurxavierx commented on #12
I could get routing to work properly with:
[code]

Though if I reverse the order of `<|>` to `awaitRoute routes <|> state <$ app state`, the calls to `AVar.take` inside `awaitRoute` never resolve. This is presumably due to previous calls getting resolved first, as it seems that `<|>`/`orr` doesn't cancel the other branches when one of them finishes. Is that a known issue?

Please, feel free to clo

[2019-01-24 22:36] ajnsit commented on #12
I'm glad you got it working! I also just finished adding a quick routing example, so you might want to take a look at that as well.

Some comments on your code -
1. You don't need to run the `matches` outside the widget itself (which is bad for modularity). Just use `liftEffect` inside the widget to get the same thing.
2. I'm not sure why you are doing both `read` and `tryTake` inside `awaitRoutes

[2019-01-24 22:38] ajnsit commented on #12
Here's the code for the Routing example - https://github.com/ajnsit/purescript-concur/blob/master/examples/Test/Routing.purs. Also it shouldn't have any flickering.

[2019-01-25 00:53] arthurxavierx commented on #12
Thanks for the comments and the example, it works perfectly!

[2019-01-25 00:53] #12 closed

[2019-01-25 05:51] ajnsit commented on #12
Just putting this here for anyone else who stumbled across this issue - I ended up adding a new simple routing example for https://github.com/ajnsit/purescript-concur/issues/12. Here's the [Code](https://github.com/ajnsit/purescript-concur/blob/master/examples/Test/Routing.purs) for the Routing example, and the [demo](https://ajnsit.github.io/purescript-concur/).

[2019-01-25 05:52] ajnsit commented on #8
Just putting this here for anyone else who stumbles across this issue - I ended up adding a new simple routing example for https://github.com/ajnsit/purescript-concur/issues/12. Here's the [Code](https://github.com/ajnsit/purescript-concur/blob/master/examples/Test/Routing.purs) for the Routing example, and the [demo](https://ajnsit.github.io/purescript-concur/).

[2019-03-11 20:53] bbarker opened #13 "Docs added for basic types?"
Hey, sorry if this is an inappropriate place to ask - feel free to close and redirect me (gitter seemed quiet).

I was looking at a very basic example:

[code]

And I was wondering what the two type parameters are to `Widget` - especially `a` since it seems obvious `HTML` is probably a given for most normal work. It looks like `a` is unused here - could it be unit (`()`)?

I looked at (slightly) m

[2019-03-11 21:09] ajnsit commented on #13
Have you looked at the documentation site? - https://github.com/ajnsit/concur-documentation/blob/master/README.md. I think I answer most questions there. If sometime on that page is unclear I would be happy to improve it. I do need to add documentation that show up on pursuit. I'll add it to my todo list.

To answer your question - `Widget HTML a` represents a widget that has an `HTML` view and re

[2019-03-12 02:02] bbarker commented on #13
wow, sorry - totally missed that, and no excuse for doing so. The docs look great, going through them now.

Looking forward to trying it out; just read about Widgets and reminded me of something I came up with for widgets in a Scala FRP framework is something like the below:

[code]

It wasn't great in one sense: the `Rx` is like an FRP stream. Creating a dynamic collection of such things and mana

[2019-03-12 02:02] #13 closed

[2019-03-19 14:49] bbarker opened #14 "Dicussion: making HTML a typeclass"
I was thinking of creating a small CSS wrapper library for Prism.CSS and Concur. This may or may not be a good idea - too early to tell. But, it made me realize that `HTML` might be better off as a typeclass with all the element functions as typeclass members, because libraries that depend on `HTML` might want to do it an implementation-independent fashion (rather than relying specifically on, say

[2019-03-19 15:01] chexxor commented on #14
I attempted to make a DOM typeclass library, unrelated to Concur, but wanted to share my experience. The hardest part was trying to be polymorphic over the data types returned from the DOM methods, because they have sub-typing relationships and some other reason... So, that part of it might be unavoidable to use concrete types.

[2019-03-19 17:21] ajnsit commented on #14
I don't fully understand this. The view part of a widget is swappable, and nothing inside `Concur.Core` namespace depends on the actual view type. The only real dependencies on the view are the 2-3 `el...` functions inside `Concur.React`, but those are only used in the actual DOM element creation which is highly React specific. I don't think we get a lot of mileage out of generalising these.

Basi

[2019-03-19 18:19] bbarker commented on #14
@ajnsit Good to know about implementing the `el` functions.

Say I want to write the following function:

[code]

Since this uses `div` from the Concur.React module, and say someone else has a Concur.Vue module - it would be good if this code could work with either since the idea is that this function ` tabPageDiv'` would be part of a library, not a user-application. After all, `div` is standard -

[2019-03-20 04:22] ajnsit commented on #14
The original plan was to support interop between multiple backends only at a user level, i.e. the Vue backend would define functions like `div` with the same signature, and then the user just has to change the import from `Concur.React` to `Concur.Vue`.

But I see the value in having library code also be reusable in the same way. So a library of widgets would not import any particular backend and

[2019-03-20 10:03] bbarker commented on #14
I just recalled backpacks, which might be useful for this. But I don't think Purescript has them yet: https://github.com/ezyang/ghc-proposals/blob/backpack/proposals/0000-backpack.rst#motivation

[2019-04-10 04:20] ajnsit opened #15 "`shiftMap` is broken"
This place where I used `shiftMap` is broken - https://github.com/ajnsit/purescript-concur/blob/master/src/Concur/React.purs#L41.

That code assumes a

[code]

instead of

[code]

I overrode the compiler error with `unsafeCoerce` thinking it was safe, but this breaks at runtime whenever the `a` gets specialised to something other than just `a`.

Either the class `ShiftMap` should be changed to hav

[2019-04-10 07:02] ajnsit commented on #15
Thinking about this more, the view model needs an overhaul to be completely safe. I need to be able to specify a view modification function that depends on the type of result returned by the view.

I think implementing https://github.com/ajnsit/purescript-concur/issues/14 would also fix the view model, and would be the right way to go about it.

[2019-04-15 00:23] pkamenarsky commented on #15
Am I correct in understanding that while theoretically unsafe the `el*` functions form a safe wrapper around `shiftMap`? I.e. user code shouldn't be affected at all insofar one doesn't resort to manual use of `shiftMap`?

[2019-04-15 05:51] ajnsit commented on #15
Unfortunately the `el*` functions are also unsafe. They use `shiftMap` (in an unsafe way) to allow using monad transformer stacks with the dom creation methods. However, explicitly lifting widgets into the monad transformer is safe.

For example, writing a stateful widget like this is safe -

[code]

However the following is unsafe. This particular example works, but something like this *could* fa

[2019-04-15 09:37] #15 closed

[2019-04-15 09:40] ajnsit commented on #15
All right, after testing a few designs, I settled on -

[code]

Now we don't have `unsafeCoerce` and everything seems to work. Will continue to test.

[2019-04-15 09:41] pkamenarsky commented on #15
Need to think this through in more detail, but I'm still not sure how one could use `el*` unsafely.

[code]

Isn't the `forall m a` there constraining `a` to be the same in both rank N types here `(forall a. s a -> s a) -> (forall a. t a -> t a)` in *all* cases?

[2019-04-15 10:59] ajnsit commented on #15
That was my reasoning too when I wrote this. But the result of ‘el’ is a red herring as we have already used ‘unsafeCoerce’ by then. Instead think about the function being passed to ‘shiftMap’. This function only works for a specific ‘a’ (constrained by the type of props passed). However the implementation of ‘shiftMap’ for a specific monad is free to use that function for other ‘a’. For example,

[2019-04-15 11:32] pkamenarsky commented on #15
Ah I see, now it makes sense!

With your new design, wouldn't the implementation for `StateT` need to create a `Tuple s a` from just an `a`? I.e. `s` would have to be a `Monoid` or something?

[2019-04-15 12:10] pkamenarsky opened #16 "liftEffect and ordering in orr might lead to "halting" children"
Here's a minimal test case (as minimal as I could get it down to) running on `v0.3.6`. The idea is to have a looping widget until a button is pressed (think a query form with some internal state) and then return that internal state to the parent widget.

So `effWidget` shows a `div` waiting on a mouse down event, performs a side effect, and then gets called again with a new `b`, in this case just

[2019-04-15 12:16] ajnsit commented on #15
No because it can use the state that was passed in initially. See the implementation for the various transformers in ShiftMap.purs

[2019-04-15 17:19] ajnsit commented on #16
Thanks for the bug report! I'll take a look.

[2019-04-16 05:55] #16 closed

[2019-04-16 06:08] ajnsit commented on #16
@pkamenarsky I checked in a fix for this. I'm still not convinced that the bug is totally gone, but your example works now.

Basically what was happening was that widgets can perform effects before returning a "continuation" in the free monad. The continuation can then itself perform effects and so on... Until it either returns a result, or a continuation with a `View` and event handlers in `Aff`.

[2019-04-16 06:17] ajnsit commented on #16
I released v0.3.7 with this bugfix.

[2019-04-16 18:27] pkamenarsky commented on #16
Great, works now! I'll try to dig into the internals somewhen soon and see if there's a way to simplify this a bit if possible.

[2019-04-28 00:21] cscalfani opened #17 "Documentation has an error"
After cloning the repo and installing via npm, the next step is to execute `npm run ps` but there is no `ps` script in the `package.json`.

[2019-04-28 12:43] #17 closed

[2019-04-28 12:43] ajnsit commented on #17
Thanks for pointing it out! I have updated the instructions on the README.

[2019-04-28 18:42] cscalfani commented on #17
Thanks.

[2019-05-13 20:49] andys8 opened #18 "Example page is 404"
![Screenshot_20190513-224548](https://user-images.githubusercontent.com/13085980/57652972-0d1b0500-75d1-11e9-8932-e87e8dcc83e1.png)

I think it's because `index.html` in `/docs` is named `index.prod.html`, but shouldn't.

### Not working
https://ajnsit.github.io/purescript-concur/

### Working
https://ajnsit.github.io/purescript-concur/index.prod.html

[2019-05-13 20:52] ajnsit commented on #18
Thanks for the report! Fixed in https://github.com/ajnsit/purescript-concur/commit/c0cc87247cd33c68f6c8ba4fe1b5f78267b01d6c.

[2019-05-13 20:52] #18 closed

[2019-05-21 14:07] bbarker opened #19 "Lightweight Concur.Static HTML implementation"
I'm wondering if, for pages where the DOM only needs to be modified once and not updated multiple times, if a lightweight HTML implementation that just makes use of e.g. `createElement` and no other dependencies except `Web.DOM` (I think), would make sense?

Maybe there aren't many people writing such static displays - but as someone writing a widget intended to be integrated into 3rd party websit

[2019-06-04 19:34] ajnsit commented on #19
It does make sense, and I've thought about doing something similar for say server side rendering.

You can currently perform server side rendering by simply discharging the widget once and getting a view, and then throwing the rest of the widget away. But on the server, having to load the entire React library is probably overkill.

I guess this fits in with the other issue (https://github.com/ajns

[2019-06-04 22:14] bbarker commented on #19
Sure, sounds good.

[2019-06-04 22:14] #19 closed

[2019-06-05 17:54] MohammedSheikhIbrahim opened #20 "Map with text doesn't work"
When I try to `map` on an array of strings with `text`, I get an error.

Example:
This doesn't work:
[code]
But this does:
[code]

I'm still unsure about if this is an issue in the PureScript compiler or in Concur.

[2019-06-05 18:04] CarstenKoenig commented on #20
not 100% sure but I think this is a case of this issue: https://github.com/purescript/purescript/issues/950

---

if someone wants to see an example of error - for me the eta reduced version produces:

[code]

[2019-06-06 06:06] ajnsit commented on #20
@CarstenKoenig Thanks for the link, yup, it does look like that issue. Though the `LiftWidget` class makes it easy to run into this and I should probably change it.

Keeping the issue open until `map text ["foo", "bar", "baz"]` compiles fine again.

[2019-06-06 07:32] ajnsit commented on #20
@MohammedSheikhIbrahim this should be working now. Let me know if it doesn't!

[2019-06-08 15:46] triallax commented on #20
I apologize for the late reply.
It is working right now, thanks for your efforts!
Closing this issue.

[2019-06-08 15:46] #20 closed

[2019-06-09 11:53] ajnsit commented on #20
Glad to hear it!

[2019-06-09 19:18] ajnsit commented on #14
Started making some progress on this with https://github.com/ajnsit/purescript-concur/commit/0135377fb11dc54d8a8f5cc6e6321a05f6ff7ed3, https://github.com/ajnsit/purescript-concur/commit/11025285ad1ccdf462e43e59951917b61cab0ffa, and https://github.com/ajnsit/purescript-concur/commit/6e16e62e60e86701fcde4b62965b33e6eeec664f

[2019-07-29 16:43] bbarker opened #22 "Discussion: idiomatic dynamic CSS in concur"
This isn't something I need at the moment, but recently saw [https://github.com/danieljharvey/purescript-react-stylesheet](https://github.com/danieljharvey/https://github.com/danieljharvey/purescript-react-stylesheet), and it is something I've needed in the past on non-Concur/PS projects.

Maybe the best way to handle dynamic CSS is to just use the `purescript-react-stylesheet` project.

[2019-07-30 21:16] bbarker opened #23 "Issue with keeping form data in list-view controlled by signals"
I have the following function, `arrayView`, which is designed to take a signal function of type `(Maybe a -> Signal HTML (Maybe a))` and create an array of such signals (with the ability to add or subtract more of these signals and associated views). In practice, there is a form from concur-formless underlying each `(Maybe a -> Signal HTML (Maybe a))`, though I suppose it might be an issue with fi

[2019-07-30 21:42] bbarker commented on #23
Here's the [branch](https://github.com/labordynamicsinstitute/metajelo-ui/commits/editable_arrays) and [commit](https://github.com/labordynamicsinstitute/metajelo-ui/tree/d605a9badec8f7c3e5f875244c67144a7a4c0338) for the above code (found in `FormUtil.purs`).

Another issue I noticed with this code, is that the line ` tupArrNew <- traverse mkItemView tupArrP1` is not behaving as I expected; it sho

[2019-07-30 23:58] bbarker commented on #23
In general I think there are two possible, if not necessarily viable, approaches:

1. Pass form state around
2. Pass indices to modify around, and do not re-render untouched indices.

I also wonder what the point of `loopS` is exactly, and if it might help with some of the indicental issues; as stated it "Loop a signal so that the return value is passed to the beginning again", but I thought a sig

[2019-07-31 17:03] bbarker opened #24 "Simple input signal loses focus after first character of input"
Here's an example:

[code]
After entering a single character, focus is undesirably lost. Some google searches suggest this may be because the widget is being re-rendered, which makes sense, but why only on the first key press? Subsequent entries into the input field work as expected, and in in all cases the output is always emitted as hoped.

[2019-07-31 17:04] bbarker commented on #24
Reference: https://github.com/erikras/redux-form/issues/1094

[2019-08-01 14:01] bbarker opened #25 "Question on signal updates: formless "child" signals lose state, others don't"
Sorry for the barage of signal questions/issues lately, but I'd say this is my most pressing concern so far.

I have the following outer signal and helper function:

[code]

The formless signals in this are `contactSignal` and `policySigArray`; `contactSignal` is simpler and is defined like this:

[code]

However, whenever I enter text into a non-formless signal, `contactSignal` resets and becomes

[2019-08-01 14:06] bbarker commented on #25
I do have a plan B (not to use formless - it seems I may not *really* need it for this app), but would be good to understand this.  I'll try to upload some photos after I fix another minor display bug shortly.

[2019-08-01 15:04] bbarker commented on #25
As we can see here, both Record Identifier and Institution Name (using `textInput`) can have values without trampling each other:

[2019-08-01 15:08] bbarker commented on #25
As we can see here, both Record Identifier and Institution Name (using `textInput`) can have values without trampling each other:

![image](https://user-images.githubusercontent.com/916366/62304561-2d2dc800-b44c-11e9-8c23-5eff1674b3df.png)

I can also add data to the Institution Contact form and save it, which causes a new value to be emitted from `contactSignal`, which is `show`n below the form.

[2019-08-01 15:09] bbarker commented on #24
I'm not sure what I changed, nothing in the code above, so it must have been external. But it seems working now, so I'll close this for now.

[2019-08-01 15:09] #24 closed

[2019-08-01 15:23] bbarker commented on #25
Forgot to mention the [branch](https://github.com/labordynamicsinstitute/metajelo-ui/tree/editable_arrays) and [commit](https://github.com/labordynamicsinstitute/metajelo-ui/tree/b38f3c323badf95f4b1626ec1e8f7598eb5e5764) for the above code.

[2019-08-01 20:54] bbarker commented on #23
Another problem (there are many! though this is more of a code-smell) with my design above that I already didn't like was the overly-specific type signature. Ideally arrayView would be able to accept something at least as general as `Signal HTML a`, but then a clever, abstract way to still be able to avoid using `catMaybes` would be needed.

[2019-08-08 03:00] bbarker commented on #25
Any thoughts on areas to explore for this issue? I'm using concur-formless and not formless-independent, though my current guess is that wouldn't matter much.

[2019-08-12 12:30] elliotdavies opened #26 "Update `purescript-react` version"
Hello! `purescript-react` just released `v8.0.0`, which includes updates to the React refs API. I'd like to upgrade the package-set to include this new version but Concur will have to put out an updated release first since it's also in the set :smile:

As far as I can tell this should just be a case of updating the `ref` prop type [here](https://github.com/ajnsit/purescript-concur/blob/31bb72ba8b2

[2019-08-19 03:06] ajnsit commented on #25
Hi, sorry for the delayed response, I was away on a holiday. I will take a look and get back to you.

[2019-08-19 03:06] ajnsit commented on #23
Hi, sorry for the delayed response, I was away on a holiday. I will take a look and get back to you.

[2019-08-19 03:53] #26 closed

[2019-08-19 05:03] ajnsit commented on #26
I have pushed tag `v0.3.9` which uses purescript-react-8.0. Is that all that's needed?

[2019-08-19 09:54] elliotdavies commented on #26
@ajnsit Yep that's all! Thanks a bunch.

[2019-08-20 13:07] timjs opened #27 "Wrapping MaterialUI components"
Really like the ideas behind Concur, and I'd like to experiment with some predefined component library! I see that [the semantic wrapper](https://github.com/ajnsit/purescript-concur-semantic) is ongoing work/stalled. Any idea how difficult it would be to wrap an existing PureScript library like [React MUI](https://github.com/doolse/purescript-react-mui) or [React Material UI](https://github.com/nw

[2019-08-20 19:02] bbarker commented on #25
Thanks @ajnsit - sorry for bugging you while on vacation, hope it was a good one - and happy (belated) independence day!

[2019-08-21 06:09] ajnsit commented on #25
@bbarker Do you have instructions on building the metajelo-ui code that don't use docker?

[2019-08-21 06:15] ajnsit commented on #27
The Semantic UI Wrapper uses the old Concur API and is not really usable anymore. I have archived that repo now. The new API actually makes it really simple to work with external components in Concur so the amount of work required to roll your own is significanlty smaller.

Adding new bindings for MUI based on the existing purescript library seems like a good idea! I will explore that.

[2019-08-21 18:16] bbarker commented on #25
@ajnsit  I just added them to the README (make sure you are looking at the `editable_arrays` branch); I hope it is fairly standard, let me know if you encounter any build issues. Basically, the Docker container is just supplying some of the standard build tools, nothing unusual as far as I recall.

Also, I took the opportunity to move the 'app' folder contents to the repo root and update to puresc

[2019-08-21 18:18] bbarker commented on #25
Ah, i also added `npm run debug`, not mentioned in the readme, for making unminified builds.

[2019-08-24 11:27] timjs opened #28 "Unexpected behaviour of `andd`"
I'm experimenting with Widget composability and decided to try out the form example given in the [documentation](https://github.com/ajnsit/concur-documentation/blob/master/README.md#replicating-elm-architecture). I created a [gist](https://gist.github.com/timjs/eb859d552e7113281f402c7d92e45449) containing all the code for reference.

Creating a multi form step-by-step widget using `traverse` works

[2019-08-24 12:07] ajnsit commented on #28
From the code snippet and your description, it does look like a bug in the
implementation of ‘andd’. I’m currently travelling so I will take a look at
this later today.

On Sat, 24 Aug 2019 at 16:57, Tim Steenvoorden <notifications@github.com>
wrote:

[2019-08-24 13:03] timjs commented on #28
That's fine! Good travels.

[2019-08-25 06:46] ajnsit commented on #28
On second thoughts, this does not seem like a bug.

When you set a “value” attribute on an input, it’s value will be reset on any state change. React provides a “defaultValue” attribute for this very problem. Can you try changing the attributes to “defaultValue”?

[2019-08-25 08:06] timjs commented on #28
I'll try it out and let you know!

[2019-08-25 08:10] timjs commented on #28
Works better, but still not as I expect:

- Change every input field of the form into something else, for example "1", "2", "3".
- Submit the second one, containing "2".
- Now there are two forms on the screen, as expected, but their values are respectively "1" and "2", instead of "1" and "3".

[2019-08-25 09:03] ajnsit commented on #28
With defaultValue attribute, you are letting React manage the value of the
input. So you need to provide React with some way to distinguish between
the form instances. Adding a “key” attribute to the form would help (it
also speeds up rendering).

--
Sent from my hyper-communicator

[2019-08-25 09:28] timjs commented on #28
So I’ll need to generate an unique key/ID for every form in the list? I hoped I wouldn’t need to do that with Concur, kind of the big selling point when comparing it with TEA. Like in the [tree example](https://github.com/ajnsit/purescript-concur/blob/master/examples/src/Test/EditHeadings.purs) where you do not need to index of the subtrees.

Could you help me recreating this example using widgets

[2019-08-25 09:38] timjs commented on #28
Should I add the key to every element? Adding it [only to the `div`](https://gist.github.com/timjs/eb859d552e7113281f402c7d92e45449#file-form-purs-L33) results in saving the values of the input fields, but all checkbox are cleared on a submit.

[2019-08-25 09:46] ajnsit commented on #28
No you only need it at the top level. To get the same behaviour with
checkboxes you need to use ‘defaultChecked’ instead of ‘checked’.

You can read up more about default values in React here -
https://reactjs.org/docs/uncontrolled-components.html#default-values

On Sun, 25 Aug 2019 at 15:08, Tim Steenvoorden <notifications@github.com>
wrote:

[2019-08-25 09:55] timjs commented on #28
Obviously! Thanks :-)

[2019-08-25 09:57] ajnsit commented on #28
Well yeah. It’s not ideal. There is some discussion about Concur keeping
track of the components that change itself without relying on the backend
(react in this case).

However, to clarify one thing - this is only a problem because you want the
form elements’ state to persist without handling it in Concur. There is
some more discussion on better state handling in Concur which might solve
this pro

[2019-08-25 10:04] timjs commented on #28
So should I use a similar to trick with keys with the tree widget example? Or am I doing something else wrong?

PS Thanks for responding so quickly to my questions! No need to respond immediately if you're trying to enjoy your Sunday however ;-)

[2019-08-26 20:18] bbarker commented on #25
@ajnsit reading over #28 made me wonder if this could be an issue with how formless and react interact - does formless somehow need to keep track of its internal state and provide that as a `defaultValue`, behind the scenes to React (at least in the Concur implementations of formless), assuming the entire form is being recreated. Otherwise, maybe `value` just needs to be set accordingly, so that s

[2019-08-26 20:38] ajnsit commented on #28
Well you can't just `andd` the children together as then the widget won't save the state until all the children have finished. I created a combinator called `displayList` which supports widgets which can be deleted and passes any modifications to the list on to the parent. The code with that combinator is at - https://github.com/ajnsit/purescript-concur/commit/ba1a80f21b88a7d0af8a13268e227b32c2593

[2019-08-26 20:47] ajnsit commented on #28
@timjs I'm going to close this issue. Please feel free to reopen in case you have more questions or comments!

[2019-08-26 20:47] #28 closed

[2019-08-26 21:20] ajnsit commented on #25
Hey @bbarker apologies for the late response. I finally got around to building your code and checking it out.

I think you are right about it being the same problem as https://github.com/ajnsit/purescript-concur/issues/28. The input will not retain its value unless you either explicitly handle it in Concur, OR use `defaultValue` instead of `value`. So for example, the following code seems to work

[2019-08-26 21:23] ajnsit commented on #25
BTW, the reason why it works for `textInput` is because you don't use either `value` or `defaultValue`. That is also fine, but only if you never want to programmatically control the value of the input.

[2019-08-26 21:36] ajnsit commented on #23
Actually no. State in a `Signal` flows like a waterfall. Effectively, whenever a widget changes, all the "downstream" widgets re-render and lose any transient state. You got it right that if you want to save state from a downstream component, you need to use `loopS` to "pass the state back up".

Do let me know if using `loopS` does not solve your problem!

[2019-08-26 21:47] ajnsit commented on #23
Do you mean the signature should be `Int -> (a -> Signal HTML a) -> Signal HTML (Array a)`? Then you would express deletion with returning an `empty` signal? That would work, but would carry a significant overhead with all the `empty`s you would need to carry around.

You could change the signature to be `Int -> (a -> Signal HTML (Maybe a)) -> Signal HTML (Array a)`. I actually don't understand wh

[2019-08-27 01:30] bbarker commented on #25
@ajnsit excellent! I tried the `defaultValue` alternative and it seemed to work for the contact email. However, in `menu`, used for the "Contact type", it seems to already be using `defaultValue` in the appropriate location.

I also tried playing around with `P.selected` to see if perhaps that was the right way, but the issue still exists:

[code]

[2019-08-27 08:02] timjs commented on #28
Thanks Anupam for helping me out. This is an intuitive solution.

So, if `andd` does not save the state of the widgets internally, what is the intended use case of it?

[2019-08-27 08:47] ajnsit commented on #28
I think the question of whether the "state" is saved "internally" or not,
is a red herring.

As a rule, there is no state inside Concur, apart from that captured by the
time sequencing monad (the currently executing step in the sequence), and
the (pure and immutable) arguments passed around to functions. If the state
you are looking to save is not captured in an argument, and is not
determined by

[2019-08-27 10:16] ajnsit commented on #25
The contact type field seems to behave fine for me (i.e. does not get reset). Can you tell me the exact steps you are following?

[2019-08-27 10:43] bbarker commented on #25
@ajnsit sure:

1. choose the only other option (dataCustodian) from Contact type
2. Type anything in the first field (Record Identifier)
3. Notice that Contact  type resets to "(None)"

[2019-08-27 17:53] bbarker commented on #25
@ajnsit I see what you mean though - this is hard to reproduce! Without recompiling, I've been able to get both positive and negative results. Some observations (in addition to the above steps):

1. Having an invalid email address entered increases the likelihood the menu select is reset.
2. Having no email address seems to increase the likelihood it **won't** be reset.
3. If the email address is

[2019-08-27 20:01] bbarker commented on #23
I think my confusion stems from the difference between e.g. `step` and `loopS`. But after reading up on `step` I can see why it isn't recursive, as it is just an alias for `mkCofree`

On the other hand, in practice, it sometimes seems as though `step` is recursive. Take this simple example:

[code]

But looking deeper, `checkBoxW` is maintaining its own state (ultimately via the DOM I suppose, or

[2019-08-27 21:51] bbarker commented on #23
Actually this still seems recursive in the sense that `checkBoxS` is calling itself, which is a pretty good indication of recursion, and it is calling itself on the updated value of `b` (`newB`)... hmm

[2019-08-28 05:58] ajnsit commented on #23
I think the confusion is that Signals are inherently "Widgets + Recursion". However, that's recursion at the Widget level. At the Signal level you have to control any recursion manually.

Recursion at the Widget level means that you can keep showing the same widget after responding to events.

Signals anyways keep displaying the same UI (because the underlying widget is recursive) without any spec

[2019-08-28 08:33] timjs commented on #28
you have combined the widgets with `andd`, there is no internal state of
any internal widget that's visible outside. Only when the entire `andd`
returns the `result` are we able to examine the result and possibly save it
ourselves. Monadic sequencing cannot see inside `andd` since at this level
it's just an opaque single widget.

I totally agree with this way of thinking. It would be odd to have a

[2019-08-28 09:35] ajnsit commented on #28
Glad to hear it!

[2019-08-28 21:43] bbarker commented on #23
@ajnsit Thanks for the explanation - I think I see what you mean now, and have started using it internally in `arrayView`.

I pushed a new version to that branch, and it is getting closer. But I think it is currently at a state where it helps answer the question of why I tagged data with `Keep`/`Delete`, see [this line](https://github.com/labordynamicsinstitute/metajelo-ui/blob/editable_arrays/src

[2019-09-04 15:00] bbarker opened #29 "v0.3.9 unuseable via spago"
I could be wrong about this, but i think moving things from src to lib has caused to to be unusable for me. This occurred after updating my package set today, and suddenly Concur modules couldn't be found. I looked at the diff between v0.3.9 and v0.3.8, and saw that files were moved from `src` to `lib/src`.

Previously, I had this issue for a dependency that I wrote, documented here: https://githu

[2019-09-06 10:11] kamoii commented on #27
@ajnsit Hi, I'm intrested in how embedding external components in concur code will look like. Is there any sample how to work with external components?

[2019-09-07 16:02] ajnsit commented on #29
Ah, yeah that move might have caused issues. Let me take a look.

[2019-09-07 16:19] #29 closed

[2019-09-07 16:20] ajnsit commented on #29
@bbarker so as far as I understand, moving the library sources back to the top level should fix this. I have made this change. Can you please test and let me know if this works for you?

[2019-09-07 16:20] ajnsit commented on #29
Once you confirm, I will tag and release a new version of the lib.

[2019-09-09 15:41] bbarker commented on #29
Hey, sorry for the delay in getting back, had a very busy weekend.

So far, still getting a few errors, will try to investigate more:

[code]

[2019-09-09 16:52] bbarker commented on #29
OK, it worked after upgrading my package set via spago :+1:

[2019-09-09 18:20] ajnsit commented on #27
@kamoii Usually all you would require to wrap an external component is to import it as a `ReactClass`, and then wrapping it with one of the `el` functions.

For example, let's say you want to wrap the `Button` component provided by the material-ui library.

*Step 1*: First write an FFI module that exposes the `ReactClass` component -

[code]

And import it into your purescript program

[code]

If

[2019-09-10 07:13] kamoii commented on #27
@ajnsit Thank you for your detailed explanation :+1:
I will try it.

[2019-09-10 09:24] ajnsit commented on #27
I started a new project for MUI bindings here - https://github.com/ajnsit/purescript-concur-react-mui. To try run -

[code]

[2019-09-10 09:24] #27 closed

[2019-10-02 03:15] bbarker commented on #23
@ajnsit Finally getting back to this more, and made some good progress, especially with using `purescript-option` to manage state of records.

However, I'm not sure how to proceed with `loopS` in this [particular case](https://github.com/labordynamicsinstitute/metajelo-ui/blob/editable_arrays/src/Metajelo/UI.purs#L107-L112):

[code]

Only `oldNameMay` is ever printed as a non-nothing value. This i

[2019-10-02 08:05] ajnsit commented on #23
Can you give me an example of the output of this? Are you saying that "Old Name" is a `Just` but "New Name" is always `Nothing`? That shouldn't happen.

[2019-10-02 12:35] bbarker commented on #23
@ajnsit That's right:

![image](https://user-images.githubusercontent.com/916366/66044423-83bc8e80-e4ef-11e9-8e66-7a614ad2fd40.png)

[2019-10-02 18:28] ajnsit commented on #23
Ah now I understand the semantics of `textInput`. It always outputs a `Nothing` to begin with, which effectively resets the state of `instnameMay` to `Nothing`.

With looped signals, you want the feedback to be stable, which means that if a signal outputs a value A, when fed back to itself, it should output A again, and not a different value B, *until a user or a system event happens*.

So to anal

[2019-10-02 21:01] bbarker commented on #23
@ajnsit Thanks for the excellent explanation! I wonder if there is a way to change `textInput` so that it doesn't depend on `oldNameMay`, but rather the current value of `D.input`.

I tried several variations using `P.value` and `P.defaultValue`, but no luck as yet.

[2019-10-03 15:11] bbarker commented on #23
Well, after sleeping on it, I think the method you described at the end of your last post might be the safest way to wrap these signals in general. Will give that a try.

[2019-10-03 17:51] ajnsit commented on #23
Yeah that's the conflict between a controlled and an uncontrolled component in React. You can either control the component and pass around the state manually with something like `oldStateMay`, or you can leave the component uncontrolled, and only have access to the value on event boundaries (such as onChange), not on every rerender. I don't know of a straightforward way to do both.

It might be po

[2019-10-04 13:37] bbarker commented on #23
@ajnsit Regarding the solution you mentioned above, I'm still getting the same behavior in that case (New Name is always `Nothing`):

[code]

[2019-10-04 15:48] bbarker commented on #23
The original suggestion of modifying textInput seems to work.  In particular,

[code]

(for example).

`CtrlSignal` is an easily abused abstraction as implemented above, and not that much more concise, but I wonder if this could be improved upon. For now, I will try things along these lines.

[2019-10-04 17:58] ajnsit commented on #23
That is very strange. I just tried a small test example, and I get the behaviour exactly as expected -

[code]

Can you try the widget above and let me know if it works as expected for you? If so, then would it be possible for you to give me a small contained sample which shows the problem?

[2019-10-04 19:13] bbarker commented on #23
Interesting, I just tried `testWidget`, and my results seem to disagree with your results (i.e., I'm getting the same problem I've been getting all along):

![image](https://user-images.githubusercontent.com/916366/66233481-7ce17780-e6b9-11e9-975c-d58cf873ba2a.png)

[2019-10-05 06:08] ajnsit commented on #23
That's really strange. Can you give me the version numbers for the libs you are using? Better still would be if you can host the small sample somewhere so I can just run it.

[2019-10-10 17:57] bbarker commented on #23
Hi @ajnsit,

I'll open a new issue for this soon (working on putting a test repo together now). As the original issue is now resolved (hooray!), I think we can close this one at long last.

[2019-10-10 17:57] #23 closed

[2019-10-10 18:15] bbarker commented on #25
If it helps, there's now a live CI/CD demo at https://labordynamicsinstitute.github.io/metajelo-ui/

[2019-10-10 20:57] bbarker opened #30 "Using the First semigroup with"
As discussed near the end of #23, this is likely due to some version or dependency issues. I created a small test repo at https://github.com/bbarker/concur-ps-debug/ that demonstrates the issue; a live demo can be found at https://bbarker.github.io/concur-ps-debug/

~Unfortunately, I'm having some issues with my account and github pages due to heroku interference that I haven't been able to track

[2019-10-10 21:11] bbarker commented on #30
An alternative repo + demo URL just in case further issues pop up:
 - Repo: https://github.com/CornellCAC/concur-ps-debug
 - Demo: https://cornellcac.github.io/concur-ps-debug/

[2019-10-15 17:33] janat08 opened #31 "preact backend"
All 3 of those are lighter by a wide margin, while maintaing same symantics. 200 kb bundle is no good.

[2019-10-15 17:42] janat08 commented on #31
Apparently preact has a layer for compatibility with react.

[2019-10-16 07:50] ajnsit commented on #31
It should be fairly straightforward to create a new backend as long as it has -
1. Purescript bindings
2. A virtual-dom

For libraries that have a virtual-dom already, it's the first part (purescript bindings) which is usually the largest hurdle. Preact is a drop-in replacement for React, so it should be a lot easier to create Purescript bindings for it, if they don't exist already.

Once we have

[2019-10-16 20:24] ajnsit commented on #30
Ah @bbarker I finally see what's wrong with your code! You are using `Semigroup.First`, but you need to use `Maybe.First`. `Semigroup.First` is like `const` in that it always returns its first argument.

To be specific, the difference is -

[code]

So in your example, you need to change -
`import Data.Semigroup.First (First(..))`
to
`import Data.Maybe.First (First(..))`

Let me know if that works.

[2019-10-22 13:35] sloosch opened #32 "`orr` stalls the view when using AVars"
Hi!

Having this minimal example and using the current master
[code]
does output the correct console log (`traceM`) but still displays the `old view`.
The problem can be "fixed" by
- Adding `pulse` to the `take` widget, which feels arbitrary
- Making the `take` widget the last in `orr`, which does destroy the order in the view

I've looked into the code and found a reference to https://github.com/

[2019-10-22 15:55] bbarker commented on #30
Oh, yes, that is definitely the issue. It also seems less mysterious now that I'm looking at the correct `First`!

[2019-10-22 15:55] #30 closed

[2019-10-22 19:29] ajnsit commented on #32
Thanks for the report! I'm looking into this.

[2019-10-23 22:31] arundilipan opened #33 "Trouble compiling using Spago"
This is similar to #29, but I'm also having trouble compiling using Spago:

[code]

I'm unsure if this is specifically due to the spago config in the repo. I tried overriding this in my `packages.dhall`:

[code]

Been pulling my hair out for a day trying to figure this out, would appreciate some insight on this. Thanks!

[2019-10-24 01:44] ajnsit commented on #33
Sorry, this is exactly the same issue as #29. I added a new backend to Concur, and split out the core library, and as https://github.com/spacchetti/spago/issues/288 shows, spago does not support publishing multiple libraries from the same repository well.

I'll push a fix in a minute.

[2019-10-24 01:47] ajnsit commented on #33
@arundilipan <s>This should be fixed in https://github.com/ajnsit/purescript-concur/commit/ac23d7d151d0105595c18df8e093e219513f43e3, can you please let me know if it still doesn't work?</s>

[2019-10-24 02:21] ajnsit commented on #33
@arundilipan Ugh, I just realised that it still won't work. I will need to move the core library, and the various backends into their own repos. Will make that change soon.

[2019-10-24 03:12] arunvickram commented on #33
@ajnsit Thanks for the update, I figured that may have been the case because I couldn't override the `sources` flag for `concur`. What do you suggest I do in the meantime? Potentially use `react-basic-hooks` for now and use `concur` at a later time?

[2019-10-24 03:31] ajnsit commented on #33
Oh you can simply use an earlier version of the library from before I made the change. An example of a working configuration is at https://github.com/FPNCR/fpncr.github.io/blob/master/packages.dhall

The override configuration there is as below. The dependencies section is not needed I think.

[code]

[2019-10-24 16:50] arunvickram commented on #33
Okay thanks! Could you potentially leave that in the documentation for now until you make the move?

[2019-11-11 04:25] gaku-sei opened #34 "Best practices, simple use case"
Hello,

So far I really enjoy using Concur for some personal projects!

But I'm often wondering what the "Concur way" of doing things should be. There are many examples, using Elm architecture, Signal, StateT, simple Widget, etc... and to be honest I'm a bit confused on which one is the best for which case.

For instance I was implementing a simple "fetch" button, which ended up looking like the f

[2019-11-12 11:49] suzumiyasmith opened #35 "update latest version on pursuit"
pls.

[2019-11-21 08:45] janat08 opened #36 "Mikado backend"
How easy would it be to integrate mikado js as backend. It's really fast, has no synthetic events, and uses plain html5 templates. It's only limitation is that it expects all text to be wrapped in a separate element (no children of element and text)

[2019-11-22 11:31] janat08 commented on #31
Nerv is probably a better candidate as it's faster and is compatible first, and preact loses speed with used with compatibility layer.

[2019-11-23 11:27] ajnsit commented on #34
That's a great example! Thanks for sharing it. I am still discovering how the API is best used, and examples of code written by others are immensely helpful. The more people use it, the sooner we'll have a best practices document :)

Currently, the base Widget API is solid and easily refactorable. However the Signal API is still brittle and not as composable as I would like. For that reason, while

[2019-11-23 11:49] ajnsit commented on #35
I have published v0.4.1 of the library - https://pursuit.purescript.org/packages/purescript-concur-react/0.4.1.
This now depends on purescript-concur-core v0.4.1, which is published in its own package - https://pursuit.purescript.org/packages/purescript-concur-core/0.4.1.

I hope that resolves the issue. Please feel free to reopen if needed.

[2019-11-23 11:49] #35 closed

[2019-11-23 12:06] ajnsit commented on #33
Sorry for the delay. I have published versions 0.4.1 for both purescript-concur-react, and purescript-concur-core to pursuit. They should be in the package-sets soon.

Please feel free to reopen this if it still doesn't work for you.

[2019-11-23 12:06] #33 closed

[2019-11-23 15:17] potocpav opened #37 "Concur for Python"
I created a [Concur variant for Python](https://github.com/potocpav/python-concur) based on ImGui. The intended use-case is scientific and/or debugging visualizations, rather than user-facing applications.

It follows the Concur "paradigm" rather closely; the main differences are:

* Everything is synchronous by default and futures must be used explicitly for asynchronous computations. This is bec

[2019-11-23 21:11] ajnsit commented on #37
Excellent! I'm happy to see a python version - the more Concur variants the merrier! You can use the Concur name and logo.

ImgUI was on my radar as a potential Concur target. I'm glad to see that it works well with the paradigm. I will likely use it as a backend for the Haskell version soon.

[2019-11-25 12:26] potocpav commented on #37
That was my plan too, but after a while I gave up - FFI was too difficult. Haskell is missing a simple UI library, and Concur + ImGui could fill that gap.

[2019-11-26 05:57] ajnsit commented on #37
I've added links to the python version in the main README for all Concur variants.

Closing this issue.

[2019-11-26 05:57] #37 closed

[2020-01-16 06:54] mpdairy opened #38 "Best way to send window keyboard events to nested widgets?"
I would like deeply nested child widgets to be able to react to events that happen in the window or main container. In particular, I need some buttons to react to keyboard events, but I can't just listen for those events at the button level because they require focus to get keyboard events.  I don't see how I could pass the event up to deeply nested children widgets without reloading everything on

[2020-01-19 07:29] ajnsit commented on #38
@mpdairy I added a keyboard event handling example - https://github.com/purescript-concur/purescript-concur-react/blob/master/examples/src/Test/Keyboard.purs.

This should demonstrate the idiomatic way to handle the specific case of attaching an event handler once and listening to it repeatedly.

In general, for one shot events, there are several non-FFI ways to pass events down to a nested widget

[2020-01-19 07:29] ajnsit commented on #38
Closing this. Please feel free to reopen if needed.

[2020-01-19 07:29] #38 closed

[2020-01-22 02:37] mpdairy commented on #38
Ok, thanks! This is quite helpful.

[2020-01-29 00:02] JustinLovinger opened #39 "Creating and rendering into a canvas"
I'm trying to create a canvas element containing an animation, but I'm not sure how to compose the canvas itself with the render Effect.

With React, you can use a `componentDidMount` callback to render on a canvas, when the canvas is created in the dom. However, I don't see anything like `onComponentDidMount`.

Currently, my solution looks like
[code]
This solution is not ideal for a few reasons.

[2020-01-29 07:01] ajnsit commented on #39
Unless I am misunderstanding your question, this sort of parallel UI composition is already well supported by Concur. Have you tried using `<|>` to compose the `runCanvas` in parallel with the canvas UI element, and not letting the `runCanvas` end by following it with `empty` -

[code]

[2020-01-29 17:51] justinlovinger commented on #39
Composing in parallel results in `runCanvas` running before the canvas element exists, requiring an asyncronous wait loop. It is another workaround, but it still isn't as clean as something like an explicit `onMount` callback.

[2020-01-29 18:03] ajnsit commented on #39
Ah I see.

Synchronous actions are run "in-place" before populating the view, but asynchronous actions are run after the view is populated and stable, equivalent to doing it in `componentDidMount`. So something like this might do the trick -

[code]

Note that here we have pushed the `empty` inside the `Aff`. This makes sure that the Aff is not resolved synchronously.

[2020-01-29 21:46] justinlovinger commented on #39
Hmm, using `liftAff` like that results in a runtime error:

[code]

Although, even if the runtime error is fixed, it still feels more like a workaround than intended behaviour. It's not clear from the code that `liftAff` means "wait for the component to mount, then do this", and I think it is a common enough usecase to get proper support.

[2020-01-30 08:00] ajnsit commented on #39
Hmm, that seems like a bug. I'm looking at it.

[2020-02-01 00:24] JustinLovinger opened #40 "Cleaning up effects from removed widget"
Say that I have a widget that runs in parallel with an `Effect`, such as
[code]

I'm finding that, when this widget is removed, the `runCanvas` effect continues to run, and as this widget is removed and re-added, the effects stack, resulting is performance slowdown and memory buildup.

Does Concur have something like React's `componentWillUnmount` to clean up effects,  like the example above.

[2020-02-27 21:52] bbarker opened #41 "Poor performance on debounce"
I looked into `debounce` a bit more as things still seemed laggy ([debounce for text input fields set to 500ms](https://github.com/labordynamicsinstitute/metajelo-ui/blob/master/src/Metajelo/FormUtil.purs#L140), though trying 2000 did not seem to make a difference).

Over at https://labordynamicsinstitute.github.io/metajelo-ui/, things are fine when just a few input forms are open. But if you clic

[2020-02-28 01:18] bbarker commented on #41
Just to confirm that it is actually a problem with `debounce`, I was going to do some logging;

[code]

However, commenting out the existing `debounce` line and adding what you see above compiles but causes an infinite loop at runtime (i.e. page doesn't load).

[2020-02-28 13:30] bbarker commented on #41
Two other points of data:

1.

Also confirmed that `loopW` has the same apparent infinite-loop as `debounce:`

[code]
Removing the   `sigEffPut $ log newTxt` line stops that issue from happening, though I'm not sure how I should log text output in that case.

2. Using `debounce` does not seem to have any pefrormance improvement over `loopW` in this case.

[2020-02-28 14:08] bbarker commented on #41
I copied out debounce from concur and stuck it into my source file ... and the performance issue is gone (though there is another issue which I may come back to in another issue thread later).

So this is odd because I verified (on two separate computers) that I was using the correct (latest) concur-core in my `packages.dhall` file, and I verified the code for `debounce` appeared correct in the `.

[2020-02-28 14:28] bbarker commented on #41
After doing a more thorough clean in my project, performance is noticeably better on one system and I can tell `debounce` is outperforming `loopW`, though performance is still taking a hit just from entering text. (will try the other computer in a few hours for sanity's sake).

[2020-02-28 16:53] bbarker commented on #41
Some final notes (for now) after testing this out on the system I originally observed it on (Linux, compared to the other WIndows system, both quite beefy):

_This is all after doing npm run clean_

1. There, adding in the definition of `debounce` did not seem to make a difference.
2. The performance was generally fine in Chrome unless doing profiling, and in Firefox, the performance was sadly not

[2020-03-03 15:00] bbarker commented on #14
Just to discuss your original plan:

I've come across other areas in PureScript where I could really benefit from some template-based programming, using something like a pre-processor (though a non-existent PureScript-specific templating system might be preferable, I doubt it will happen anytime soon). Perhaps using something like e.g. [heterocephalus](https://hackage.haskell.org/package/heterocep

[2020-03-06 21:39] bbarker commented on #25
Just noting (mostly to myself) that this still is an issue on recent builds of metajelo-ui.

[2020-03-23 07:14] DoctorRyner opened #42 "An async widget example"
For instance, how to modify a counter example the way that it increments itself every second? I'm always ending up resetting time after clicking on inc and dec buttons

[2020-04-10 15:24] drewolson commented on #42
I put together a quick example that may be what you're looking for. Here's an extension of the button example that automatically increments the button every second while you don't press anything.

https://gist.github.com/drewolson/607c7e742c471400e0e61c5068e0728d

Hope this helps.

[2020-04-10 22:18] DoctorRainer commented on #42
Yes, of course, I figured out how to do this much but the problem is:

And that happens in this example as well

Actually, I ended up creating my own UI library based on researching your code and a couple of other UI libs and this code does exactly what I was asking about in the issue

https://github.com/DoctorRyner/gimel/blob/master/examples/src/Main.purs

But I'm in no position to develop and ma

[2020-04-28 13:59] drewolson opened #43 "Custom Monad for Signals"
Concur makes it very easy to render Widgets inside of a custom monad stack. Here's a simple example https://gist.github.com/drewolson/0fcff9458d4b36b56e5d7350f7a4d9c7.

However, I'm unable to understand how I'd do the equivalent with Signals. Can I also use Signals inside of a custom monad stack?

[2020-04-28 14:54] ajnsit commented on #43
That's a good point! I just checked and there seems to be no reason to not support a more general Signal type. I'll quickly push something for you to test.

[2020-04-28 14:58] ajnsit commented on #43
@drewolson Can you try the changes in this branch - https://github.com/purescript-concur/purescript-concur-react/tree/generalised-signals

Specifically, I rewrote the Colors example to use StateT - https://github.com/purescript-concur/purescript-concur-react/blob/generalised-signals/examples/src/Test/Color.purs

[2020-04-28 15:01] ajnsit commented on #42
@DoctorRyner This is a good point. I couldn't come up with a quick way to prevent the timer from getting reset on user input. I'll look into this more and will get back to you. I will keep this issue open until then.

[2020-04-28 16:58] drewolson commented on #43
It works great! https://gist.github.com/drewolson/c0bf0e72a72e58feb3a4b68a0287c902

[2020-04-28 22:42] ajnsit commented on #43
Okay, great. The changes are merged into purescript-concur-core in a backward compatible way. Use `SignalT` when you want to use a monad other than `Widget` inside a signal. `Signal` is aliased to `SignalT (Widget v) a`

[2020-04-28 22:42] #43 closed

[2020-05-13 22:22] tshakah opened #44 "Help with composition of signals"
Hey!

Apologies if this is more of a PureScript question, but I am new to it.

I'm trying to separate out the logic of a complex function, and have managed to write a simple case that explains my issue.

How would you get the following to work (the only difference from the signal example in the concur docs is I've moved `n+1 <$ D.button [P.onClick] [D.text "+"]` to `displayButton`):

[code]

Any h

[2020-05-14 06:14] ajnsit commented on #44
`displayButton` is a Signal, so you can't use it inside the `loopW` because `loopW` takes in a Widget (which it invokes repeatedly).

Perhaps you intended to make `displayButton` a Widget? Something like this -

[code]

[2020-05-28 17:12] janat08 commented on #42
?

[2020-06-02 21:03] pkamenarsky commented on #40
I find myself in need of "widget finalisers" as well. My particular use case is a drag & drop implementation, for which I need to add event handlers to the `document` directly (so that mouse movements are registered outside the element, as well as browser). The problem is that without finalisers there's no way to remove the previously added event handlers if a `Widget` that's in the middle of a dr

[2020-06-02 22:36] ajnsit commented on #40
Two developments -

1. I have started working on a new [VDom backend for Concur](https://github.com/purescript-concur/purescript-concur-vdom) which uses [Halogen-VDom](https://github.com/purescript-halogen/purescript-halogen-vdom). With this, I think we'll also be able to have components with internal persistent state, and initialisers and finalisers. I am still coming up with an appropriate API.

[2020-06-04 16:37] kamoii opened #45 "Cancellation of aff action"
The following Widget consists of an aff action that takes some time and a button to cancel it.
I thought it would kill aff action if I pressed the cancel button while aff action was running, but it didn't stop even after cancel, and "done" was shown in the log.
Is this an intented behaviour?

[code]

[2020-06-04 20:03] ajnsit commented on #45
That seems like a bug. I'll check it out.

[2020-06-05 15:19] dariooddenino commented on #34
I've been trying Concur for the past couple of days and I got to the same exact doubts and, weirdly enough, to the same exact example scenario and code solution :smile:

[code]

It took me a lot of tries with widgets, signals, state, etc to finally get to a working solution.

I can't wait for this library to grow to a more final release, as I'd really like to migrate all my halogen 4 components to

[2020-06-06 05:10] kamoii commented on #45
@ajnsit Thanks for your reply!
Would it be OK to create a PR to add a test for this issue?
If I'm not mistaken, it's a problem with the implementation of `purescript-concur-core` so I'd like to submit the PR to `purescript-concur-core`.

[2020-06-06 06:40] ajnsit commented on #45
Yeah go ahead!

[2020-06-06 06:43] ajnsit commented on #45
It's definitely an issue with `purescript-aff` as it's not cancelling the pending timer. I have been thinking about ripping Aff out from concur, atleast concur-core, as it's a big ball of (buggy) JS and prevents us from using Concur for non-js compile targets. I'll also spend some time on doing that.

[2020-06-06 06:45] ajnsit commented on #44
@tshakah hope that helped. I'm going to close this issue. Please feel free to reopen if you have any more questions.

[2020-06-06 06:45] #44 closed

[2020-06-06 06:50] ajnsit opened #46 "Support React lifecycle and custom state"
This issue will track progress on supporting React lifecycle methods inside Concur, and allowing Concur widgets have access to a local state.

[2020-06-06 06:51] ajnsit commented on #42
This problem will be solved once Concur allows local state within components.

We are going to track the lifecycle and local state implementation in an umbrella issue - https://github.com/purescript-concur/purescript-concur-react/issues/46. Closing this in favor of that issue.

[2020-06-06 06:51] #42 closed

[2020-06-06 06:52] ajnsit commented on #40
We are going to track the lifecycle and local state implementation in an umbrella issue - https://github.com/purescript-concur/purescript-concur-react/issues/46. Closing this in favor of that issue.

[2020-06-06 06:52] #40 closed

[2020-06-06 07:02] ajnsit commented on #45
@kamoii I have a work in progress aff-less implementation here - https://github.com/purescript-concur/purescript-concur-core/tree/callbacks

[2020-06-06 09:32] tshakah commented on #44
Yes, it did - thanks! Sorry I didn't respond.

[2020-06-06 18:15] kamoii commented on #45
@ajnsit

I'm not sure how targeting non-js backend works, but does it mean we have to remove all dependencies including non-direct ones that uses js bindings? If thats true, I have a feeling it's going to be a tough path.

[2020-06-06 19:46] ajnsit commented on #45
Well the hope is that atleast some of the popular libraries will get ported to the new backend by others. One good thing is that Concur-core has very limited dependencies.

[2020-06-09 22:18] kurtmilam opened #47 "Switch to purescript-react-basic?"
`purescript-react-basic` seems to get some things right that `purescript-react` doesn't.

For instance, some of the props defined in `purescript-react` have types that make them either useless or less useful than they would be with more suitable types.

Examples of poorly typed props in `purescript-react`:

1. [*opacity](https://www.w3.org/TR/SVG11/masking.html#ObjectAndGroupOpacityProperties) var

[2020-06-10 05:49] ajnsit commented on #47
Yeah that makes perfect sense. I've been meaning to swap out the libraries for a while myself.

It shouldn't be a lot of work at all. If you'd like to get started on it, I can give you some pointers -

The piece that does most of the work is a 15 line function `Concur.React.componentClassWithMount` which converts a Widget to a React component class. It should remain mostly the same for react-basic

[2020-06-22 19:55] kurtmilam commented on #47
Unfortunately, it seems I have bitten off more than I can chew. I have been poking at this rewrite off and on the past couple of weeks and don't know that I'm really any closer to getting it working than when I first started, although I do feel that I'm getting a better handle on the `purescript-react` and `purescript-react-basic` APIs.

I'm still stuck trying to get `React.purs` / `componentClass

[2020-06-22 20:06] ajnsit commented on #47
Do you have a repository with existing code I can look at?

[2020-06-22 20:28] kurtmilam commented on #47
I do. I'm embarrassed to share it. It's in some Frankenstein state of me just trying to get types to line up, but here is where I currently am: https://github.com/kurtmilam/purescript-concur-react/tree/use-purescript-react-basic

Edit: See `ReactNew.purs` for my 'work'.

I also just realized that my latest set of changes was completely wrong (trying to turn `component` into a function), since `pur

[2020-06-30 10:35] afcondon opened #49 "shouldn't the index.js in examples use `./output/Main`? or else live in `dist` dir"
following the instructions in the README exactly leads you to a Parcel failure because `examples/output` is not one level above `index.js`...works fine if you edit the `index.js` so i guess either you meant to put `examples/index.html` and `examples/index.js` in the `dist` directory?

[2020-07-06 19:56] mhmdanas opened #50 "Is there anything wrong with creating a signal without using step, loopS, or loopW?"
Is there a case where I might want to use the `do` syntax without any of the functions in the title?

For example, let's say I have `intSignal :: Int -> Signal HTML Int` and `stringSignal :: String -> Signal HTML String`. If I'd want to zip them into a `Tuple Int Signal`, I might use this:
[code]
Is there anything wrong with doing that?

On a related note, I understand why signals are useful, but

[2020-08-02 15:33] jamievicary commented on #49
I was also caught by this error, which I now see is over a month old. Is this project being actively maintained?

[2020-08-02 17:05] ajnsit commented on #49
@jamievicary Yes it is, I've just been a bit busy the past month.

@afcondon I may have broken the examples during a reorganisation. Do you mind submitting a PR that fixes the path? I'll put in a more permanent fix some time later if needed.

[2020-08-02 17:21] ajnsit commented on #50
Yes, it's perfectly fine to compose Signals using the monad instance.

Signals are conceptually `Never ending Widget + Varying value`. They can be constructed in a number of ways, but the simplest way is using `hold` which has the effective signature `hold :: a -> Widget a -> Signal a`. i.e. it takes an initial value, and a widget that is repeatedly invoked to yield the values of the signal.

Anot

[2020-08-02 17:23] ajnsit commented on #47
Hey, I've been a bit busy the past month. I'll get around to it soon. Meanwhile it's open if anyone else wants to take a look.

[2020-08-02 17:25] ajnsit commented on #36
It can definitely be done, however I'm unlikely to find time to take it up myself right now. I'll leave this open for a while in case someone else wants to take a look.

[2020-08-02 17:26] afcondon commented on #49
sure, i'll try to do it tomorrow morning, @ajnsit

[2020-08-02 17:27] ajnsit commented on #31
I'm going to close this, and open an umbrella issue for alternative backends.

[2020-08-02 17:29] ajnsit opened #52 "Umbrella issue for alternative backends"
This issue is to track requests for alternative backends and their status.

1. Preact (https://github.com/purescript-concur/purescript-concur-react/issues/31)
2. Mikado (https://github.com/purescript-concur/purescript-concur-react/issues/36)
3. Nerv (https://github.com/purescript-concur/purescript-concur-react/issues/31)
4. Purescript-react-basic (https://github.com/purescript-concur/purescript-co

[2020-08-02 17:30] ajnsit commented on #31
Closing this in favor of the umbrella issue.

[2020-08-02 17:30] #31 closed

[2020-08-02 17:30] ajnsit commented on #36
Closing this in favor of the umbrella issue.

[2020-08-02 17:30] #36 closed

[2020-08-02 17:30] ajnsit commented on #47
Closing this in favor of the umbrella issue.

[2020-08-02 17:30] #47 closed

[2020-08-02 17:41] triallax commented on #50
It makes more sense now. I have no further questions. Thanks!

[2020-08-02 17:42] #50 closed

[2020-08-03 02:02] janat08 commented on #52
Nerv should have identical API, to that of react.

[2020-08-04 12:29] ajnsit commented on #49
@afcondon I've merged your fix. Thanks!

[2020-08-04 12:29] #49 closed

[2020-08-29 15:37] fros1y opened #54 "Stack Overflow in Mapping Over Large-ish nested Data.Maps"
Hello,

I have a reproducible stack overflow error triggered by creating a fair number (~4000) of leaf widgets in a table format, looping over a structure that looks like `Data.Map RowID (Data.Map ColumnID Value)`

I've worked up an example that seems to be minimal here: https://gist.github.com/fros1y/09bf2efabe49d880f0a9c022f25d2706

Playing with the x and y variables, I can pretty quickly figure

[2020-08-29 17:42] fros1y commented on #54
Also worth pointing out, I just tried the official SlowButton implementation and it has the same failure mode for higher numbers.  That example implies that the difference between SlowButton and FastButton is performance, but it appears to be correctness as well.  Am I running into a fundamental limitation? (i.e., do I need to figure out how to drop down into mkLeafNode?)

Thanks!

[2020-08-29 18:06] ajnsit commented on #54
Thanks for opening the issue. This is definitely a bug and not a fundamental limitation. I'll look into it.

[2020-08-29 22:53] fros1y commented on #54
Thanks for looking into this. There's a thread on discourse also with some thoughts: https://discourse.purescript.org/t/advice-on-debugging-stack-size-problems-concur-react-related/1676/4

[2020-08-30 15:36] fros1y commented on #54
So it looks like there are multiple places that may not be stack safe. Based on the feedback on the Discourse thread above, above, I looked at the call to `createElement.apply` inside of `purescript-react`.  I made a branch (https://github.com/fros1y/purescript-react/tree/remove-apply) of purescript-react that gets rid of the `.apply,` at the cost of a bunch of warnings about unkeyed components fr

[2020-10-17 16:10] potocpav opened #55 "forkAction doesn't work as expected?"
I need to make AJAX calls in the background which wouldn't be interrupted by GUI events. I tried to use `forkAction` for this purpose, but it doesn't work as expected. The background request completes, but the event isn't propagated to the calling Widget  if any events occured in the meantime.

Here is a snippet demonstrating the issue:

[code]

If I click the button before `computation` finishes,

[2020-12-10 02:59] paulyoung commented on #29
For anyone encountering this in future;

Despite the title of this issue, I was able to fix the `Module React.Ref was not found` errors by using `concur-react` `0.3.9` in `packages.dhall`. I believe that's the latest version of `concur-react` that supports `react` 7.

[2021-01-09 05:24] mpdairy opened #56 "If multiple widgets update via Aff simultaneously, the state of all but one are lost"
I made a pub/sub message broadcaster that works through `Aff`. If I have multiple widgets listening to the publisher (through `AVars`) and they all get a message at the same time, They all receive the message in the Aff well enough, and can execute anything in the same `liftAff`, but only one widget actually advances to the next bind of the `Widget`. The others won't advance and after that seem to

[2021-01-11 01:17] ajbarber commented on #54
@fros1y Can you can try locally overriding purescript-concur-core with [this branch](https://github.com/purescript-concur/purescript-concur-core/pull/13), and let me know if this resolves your issue in your application?

[2021-01-29 10:36] srghma opened #57 "what is the ./stark folder?"
https://github.com/purescript-concur/purescript-concur-react/tree/master/stark

[2021-01-29 10:37] srghma commented on #57
it's a "dummy in-memory dom implementation for testing UI applications"

that is not used (yet)

[2021-01-29 21:55] Eugleo opened #58 "Comparison with other approaches?"
Hey, concur looks _very_ interesting (I just had a quick read through the docs), however, compared to Halogen and react-simple-hooks it seems to fall on the niche side. As a purescript outsider, I'm unable to assess the pros/cons of the different approaches, so I'm most likely to skip on concur simply because the "nicheness" is the only publicly and easily available comparison metric.

I think tha

[2021-01-30 14:19] prescientmoon commented on #58
From my own experience,

## Cons:
- Running some action on mount/unmount is harder than you'd expect it to be.

- Halogen makes subscribing to external events (eg: window resizing) a lot easier

- Something concur doesn't have yet (afaik) is strongly typed props: for example you can add a `href` attribute to a `div` element.

- Having the ability to include effects inside your render function can

[2021-01-30 15:00] Eugleo commented on #58
Thanks, that's an amazing answer. I'd love to gather more opinions here. I find it rather weird that in a strongly typed language we don't have typed props. I guess it's more a fault of `purescript-react` than concur's, but still.

[2021-01-30 18:48] srghma commented on #55
IIUC, `orr` is like a race, so it works correctly

[2021-01-30 19:01] srghma opened #59 "subscribing to external events and cleaning them when parent node is removed"
I am rewriting keyboard example with `FRP.Event`

https://github.com/srghma/purescript-concur-react/commit/12040452c6bf4a82acac7d0542f7761d9daaa29c

and don't know how to `bracket` the widget to cleanup with `stopListeningKeydownEvent`

could someone help me

-----------------------

P.S.

in future I'll have to also uncomment the `toggleEvents` button and NOT ONLY subscribe on `Initialize` event,

[2021-01-30 19:26] Mateiadrielrafael commented on #59
I started by creating a helper for generating a bus:
[code]

then my I used a wrapper component which looks like this:
[code]

Then the inner component is trivial:
[code]

This feels like a hack, and wouldn't handle unsubscribing too well (eg: a change of route won't trigger it),  but it's the first thing I could come up with and works fine for now

[2021-01-30 19:41] srghma commented on #59
doesnt `tea` makes never ending widget? so `unsubscribing logic` wont ever be reached, not even when `editor :: forall a. Widget HTML a` vdom node is destroyed

yes

[2021-01-30 19:46] Mateiadrielrafael commented on #59
yep, I think that's the biggest problem rn

[2021-01-30 19:47] srghma opened #60 "add an example with remoteWidget / how to "get data out of a never ending widget" ?"
in documentation

https://ajnsit.github.io/concur-documentation/ch03-03-composing-never-ending-widgets.html

could we add this `ways to get data out of a never ending widget as well` as an example?

I dont understand how `remoteWidget` / `forkAction` / `forkActionWithState` functions work

related to https://github.com/purescript-concur/purescript-concur-react/issues/55

[2021-01-30 19:51] srghma commented on #60
what the signature means

[code]

what is `m a`?

what is `m void`?

[2021-01-30 19:54] srghma commented on #55
yes, the functionality is unclear because of the lack of documentation

does `forkAction` works correctly or no when is used with `orr` here (which gives the race like behavior)?

probably the tests should be added for `forkAction` and `remoteWidget`

[2021-02-02 11:50] potocpav commented on #55
Where should I add the `orr`? What do you mean by "race like behavior"?

[2021-02-03 12:00] srghma commented on #55
@potocpav I have updated my comment

[2021-02-09 05:59] ajnsit commented on #57
Yup it's a dummy dom implementation that is largely irrelevant right now as I have rewritten it and will soon release it as a separate library dependent on purescript-concur-core.

[2021-02-09 05:59] #57 closed

[2021-02-09 06:04] ajnsit commented on #60
A remote widget essentially splits a widget into two parts, a consumer of user events (`m void`) and a producer of UI updates (`m a`). You would use it to keep the listeners alive while being able to remove the widget from the UI or returning a result from the widget.

I need to write more documentation on these, but the function is short enough for the source to be read. The reason I haven't spen

[2021-02-09 06:04] #60 closed

[2021-02-27 17:07] ntwilson opened #61 "Docs suggestion: FFI import class with custom props"
In the README for this repo it showcases using FFI to import a react class, but the class being imported just uses the default props which are already defined by `Concur.React.Props`.  I'm curious how to import a class that uses some custom props (for example, [React Datepicker](https://reactdatepicker.com/) which has all sorts of other props like `onChange :: JSDate -> Effect Unit` and `minDate :

[2021-02-27 17:37] Woody88 commented on #52
I just want to let you guys know that for libraries that are fully compatible with react no work is required. For instance, say that you want to use `nerv` the only effort that is required is to set its module names as `react`. This can be accomplished by adding the code snippet below in your `package.json`:

Taken from `nerv` [README](https://github.com/NervJS/nerv#switching-to-nerv-from-react) p

[2021-06-29 01:35] ajbarber commented on #61
A bit of a late reply, but here is how I did a custom prop ffi for an ant design input box, which has a custom prop `suffix` which takes a JSX argument and renders it on the right hand side inside the input.

[code]
Then just go ahead and use suffix like a normal prop in the props array.

[2021-06-29 01:49] ajbarber commented on #59
I am using routing to drive this sort of set up/tear down logic when I need it in my Concur app.

So listen to routes using `purescript-routing` and when they are hit or navigated away from, one can hook up `componentDidMount`,   `componentWillUnmount`  or in Hooks parlance `useEffect` type logic. It's not precisely the same as listening to vdom events of course, but it should be sufficient in mos

[2021-07-06 18:37] ntwilson commented on #61
Thanks for the tip!  Would a PR be welcome that adds something to the docs for how to define your own custom props?

[2021-07-07 04:48] ajnsit commented on #61
@ntwilson doc improvement PRs are always welcome! :)

[2021-07-09 01:26] ajbarber commented on #59
Here is some more info on my approach. I have quite a simple API, not unlike `purescript-react-hooks` `useEffectOnce`.  The only difference of course being route changes are the trigger.

It looks like this:

[code]
`runOnce` will do what it says, run on the first time myWidget has entered. On subsequent recursions, it will not fire.  This ability to turn itself off is reflected in its type signat

[2021-07-12 09:38] ajbarber commented on #59
I looked into this a little further. So the above works okay, I suppose, if you have routing set up for your application. But perhaps you are integrating concur into an existing React JS application where you don't have control of routing, or perhaps you simply would prefer to leverage the React lifecycle events.

In this vein I had a little look at it and providing an API, something very basic li

[2021-07-12 14:19] ajbarber commented on #59
Pushed something to   [react-component-lifecycle-api-idea ](https://github.com/ajbarber/purescript-concur-react/tree/component-lifecycle-api-idea).

To see a minimal example:

Replace the last 3 lines of `Login.purs` in examples with

[code]
and you may need to add an `import Effect.Console (log)`  in there too if your editor doesn't do that for you.

[2021-08-05 02:16] seven7e opened #62 "Best design for nested/"local" state"
I'm implementing a page contains two tabs A and B, where A contains a component changing every second (take a clock as example), and B is static. Naturally there are two buttons switching the tabs.

My question is, is it possible to keep the state of tab A locally? i.e. the clock inside tab A is managed by itself, and the tab component are not aware of the contents inside the tabs. From the viewpo